<div class="main">
  <h1>Books!!</h1>
  <hr />
  <a routerLink="create" class="btn btn-success btn-add">Add Book</a>
  <table class="table table-sthiped table-hover">
    <thead>
      <tr class="title">
        <th>title</th>
        <th>author</th>
        <th>read?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for( book of data; track book.id){
      <tr>
        <td>
          {{ book.title }}
        </td>
        <td>
          {{ book.author }}
        </td>
        <td>@if(book.read){ Yes }@else{ No }</td>
        <td>
          <ul class="button-list">
            <li>
              <a routerLink="/update/{{ book.id }}" class="btn btn-warning"
                >Update</a
              >
              <button (click)="deleteBook(book.id)" class="btn btn-danger">
                Delete
              </button>
            </li>
          </ul>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
