/* You can add global styles to this file, and also import other style files */
.main {
  margin: auto;
  width: 50% !important;
}

h1 {
  padding-top: 25px;
}
hr {
  padding-bottom: 50px;
}

.btn-add {
  margin: 10px 10px 10px 0px;
}
ul {
  list-style: none;
}
